table{
    border: 1px solid rgb(64, 64, 64);
    border-collapse: collapse;  
   
}
.contenidotabla{
    display: flex;
    justify-content: center;
    align-items: center;
}
table tr td{
    border:1px solid rgb(64, 64, 64);
}
table tr td button{
    cursor: pointer;
}
h1{
    text-align: center;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}